@import '../../theme/palette';
@import '../../theme/common';

.row {
  cursor: pointer;

  svg{
    fill: #2cc55e;
    stroke: #2cc55e;
  }

  button svg{
    fill: $icons-color;
    stroke: none;

    &:hover{
      stroke: $icons-color;
    }
  }

  &.selected{
    background-color: $secondary-color;

    svg {
      fill: $background-main-color;
      stroke: $background-main-color;
    }

    button svg{
      stroke: none;

      &:hover {
        stroke: $background-main-color;
      }
    }
}

  .imageWrap {
    width: 25px;
    height: 25px;
    border-radius: 2px;
    background-color: $backgound-image-color;

    & img {
      width: 100%;
      height: auto;
    }
  }

  td {
    border-top: 1px solid $border-main-color;
    border-bottom: 1px solid $border-main-color;
    border-right: none;
    border-left: none;
    padding: 20px 0;

    &:first-child{
      border-left: 1px solid $border-main-color;
    }

    &:last-child{
      border-right: 1px solid $border-main-color;
    }
  }
}