@import '../../theme/palette';


.chart {
  height: 74px;
  width: 45px;
  background-color: $charts-background-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;

  .chartsFill {
    width: 100%;
    background-color: $secondary-color;
    transition: height .5s ease-in;
  }
}