@import '../../theme/palette';

.wrapper {
  main{
    display: flex;
    align-items: stretch;
  }

  .mainInStart{
    transform: translateY(-100%);
  }

  .mainInEnd {
    transform: translateY(0);
    transition: transform 700ms ease-in;
  }

  .mainOutStart{
    transform: translateY(0);
  }

  .mainOutEnd{
    transform: translateY(-100%);
    transition: transform 700ms ease-in;
  }

  .error{
    background-color: $background-main-color;
    padding: 30px 20px;
    font-size: 20px;
    text-align: center;
    color: $text-main-color;
  }
}