$background-main-color: #fff;
$border-main-color: #ebeff0;
$text-main-color: #313b3d;
$background-input-color: #f2f6f7;
$text-input-color: #aebcc0;
$secondary-color: #2cc55e;
$background-body: #f5f8f9;
$backgound-image-color: #e0e0e0;
$charts-background-color: #e5e8ed;
$charts-text-color: #89929f;

$icons-color: #768387;