@import '../../theme/palette';
@import '../../theme/common';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px 16px 32px;
  color: $text-main-color;
  border: 1px solid $border-main-color;
  background-color: $background-main-color;

  h1 {
    font-size: 20px;
    margin: 0;
  }

  input[type="search"] {
    width: 262px;
    height: 40px;
    border: 0;
    border-radius: 20px;
    background-color: $background-input-color;
    background-image: url('../../theme/assets/search.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: 0 20px;
    margin-right: 20px;
    outline: none;
    &::placeholder{
      color: $text-input-color;
      font-size: 14px;
    }
  }

  button {
    width: 32px;
    height: 32px;
  }

  svg {
    fill: $icons-color;
    transition: transform 1s ease-out;
  }
}